<!DOCTYPE html>
<html lang="en">

<head>
	<title>Axel Harstad</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<link src="{% static 'personal/js/bootstrap.js' %}" type="text/javascript" >
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'personal/img/bilde_av_meg.png' %}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h1>Axel er best</h1>
				  </center>
			  </div>
		</div><hr>

		<div class="row">

		  <div class="col-sm-2">
		  <br>
		  <br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">

			  <ul class="nav nav-tabs" id="myTab" role="tablist">
				  <li class="nav-item">
					  <a class="nav-link" id="home-tab" data-toggle="tab" href="/" role="tab" aria-controls="home" aria-selected="true">Home</a>
				  </li>
				  <li class="nav-item">
					  <a class="nav-link" id="blog-tab" data-toggle="tab" href="/blog/" role="tab" aria-controls="blog" aria-selected="false">Blog</a>
				  </li>
				  <li class="nav-item">
					  <a class="nav-link" id="contact-tab" data-toggle="tab" href="/contact/" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
				  </li>
				  <li class="nav-item">
					  <a class="nav-link" id="extra-tab" data-toggle="tab" href="/extra/" role="tab" aria-controls="extra" aria-selected="false">Extra</a>
				  </li>
				</ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->

		  <div class="col-sm-10">
			<div class='container-fluid'>
				<div class="tab-content">
					<br><br>
			   		{% block content %}
			   		{% endblock %}
				</div>
			</div>
		  </div>

		</div>
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>

</body>

</html>