
{% extends "personal/header.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
  {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'extra/css/popup.css' %}" > <!-- CSS !-->
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<script>alert("Sikker på at du vil inn her? ;)") ;</script>
<p>Heihei</p>
<div class="popup" onclick="myFunction()">Klikk her for å se sannheten!
  <span class="popuptext" id="myPopup">Axel er kul</span>
</div>

<script type="text/javascript" src="{% static 'extra/js/popup.js' %}" ></script>

</body>
</html>

{% endblock %}